<launch>
    <node pkg="motor_sim_lpf" type="motor_lpf" name="motor_lpf" />


    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" launch-prefix="gnome-terminal --command">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
    </node>

    <node pkg="rqt_plot" type="rqt_plot" output="screen" name="rqt_plot" args="/pid_output/setpoint /motor_output/output"/>

</launch>